.notifications-dropdown {
    display: inline-block;
    padding: 8px 0;
    position: relative;
}

.nav-settings-button {
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: #F5F7FAFF;
    border-radius: 50%;
    position: relative;
    transition: opacity 0.3s ease;
}

.nav-settings-button.filling .fill-overlay {
    background-color: #718EBF;
    opacity: 1;
    animation: fillAnimation 0.5s forwards;
}

.fill-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000019;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes fillAnimation {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.notifications-dropdown-content {
    position: absolute;
    display: block;
    background-color: #FFFFFFFF;
    box-shadow: rgba(0, 0, 0, 0.03) 0 -2px 6px 0, rgba(0, 0, 0, 0.01) 2px 10px 10px 0, rgba(0, 0, 0, 0.02) 1px 20px 65px 0, rgba(0, 0, 0, 0.11) 16px 39px 67px 0;
    width: 300px;
    right: 0;
    top: 75px;
    border-radius: 12px;
    z-index: 100;
    transform: scale(0);
    transform-origin: top right;
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.notifications-dropdown-content.open {
    height: auto;
    transform: scale(1);
}

.notifications-button-box {
    padding: 8px;
}

.notifications-button-box button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #1814F3FF;
    width: 100%;
    font-size: 15px;
    line-height: 1.6;
    padding: 7px 14px;
}