.settings-chose-input {
  width: 100%;
  height: 50px;
  border-radius: 16px;
  color: #718EBF;
  border: 1px solid #DFEAF2;
  padding: 16px 20px;
  outline: none;
  cursor: pointer;
}

.settings-chose-input::placeholder {
  color: #718EBF;
  font-size: 14px;
}