.settings-chose-input {
  width: 100%;
  height: 50px;
  border-radius: 16px;
  color: var(--muted-blue);
  border: 1px solid #DFEAF2;
  padding: 16px 20px;
  outline: none;
  cursor: pointer;
}

.settings-chose-input:hover {
  background-color: #f7f7f7;
}

.settings-chose-input::placeholder {
  color: var(--muted-blue);
  font-size: 14px;
}