.profile-card {
  background: #004BB0FF;
  width: 280px;
  height: 380px;
  padding: 25px 20px;
  margin: 0 auto;
  border: 4px solid #75a6e7;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}


.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #75a6e7;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.profile-name {
  margin: 0 0 44px 0;
}

.profile-item {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 18px;
}