.input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--white);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--white);
  outline: none;
  background: transparent;
}