.nav-input-button {
    width: 40px;
    height: 40px;
    padding: 12px;
    margin-left: 7px; /* TODO: optimize margin left*/
    position: relative;
    transition: opacity 0.3s ease;
}

.nav-input-button.filling .fill-overlay {
    opacity: 1;
}

.fill-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000019;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes fillAnimation {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.nav-input-button.filling .fill-overlay {
    animation: fillAnimation 0.5s forwards;
}

.nav-input-button img {
    max-width: 16px;
    max-height: 16px;
}