.nav-input {
    display: flex;
    align-items: center;
    height: 50px;
    border: none;
    color: var(--muted-blue);
    margin-bottom: 0;
    outline: none;
    background: transparent;
}

.nav-input::placeholder {
    color: var(--muted-blue);
}