.nav-input {
    display: flex;
    align-items: center;
    height: 50px;
    border: none;
    color: #8BA3CBFF;
    margin-bottom: 0;
    outline: none;
    background: transparent;
}

.nav-input::placeholder {
    color: #8BA3CBFF;
}