.nav-input {
    display: flex;
    align-items: center;
    height: 50px;
    border: none;
    color: rgb(139, 163, 203);
    margin-bottom: 0;
}

.nav-input::placeholder {
    color: rgb(139, 163, 203);
}