html {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: Nunito, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--body-bg);
  color: var(--black);;
  position: relative;
  overflow: hidden;
}

img, svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p, figure {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* Hide arrows in WebKit-based browsers (Chrome, Safari, Opera) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
  background-color: var(--white);
  border-radius: 25px;
  padding: 30px;
  height: auto;
}