.user-profile-title {
  font-size: 14px;
  color: var(--dark-blue);
  height: 17px;
}

.profile-hr {
  border-width: 0 0 thin;
  border-style: solid;
  border-color: #F2F4F7FF;
}

.logout-button-box {
  margin-top: 10px;
}