.nav-profile-button {
    width: 70px;
    height: 70px;
    padding: 5px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFFFF;
    box-shadow: rgba(0, 0, 0, 0.03) 0 -2px 6px 0, rgba(0, 0, 0, 0.01) 1px 10px 10px 0, rgba(0, 0, 0, 0.03) 0 20px 17px 0, rgba(0, 0, 0, 0.07) 4px 38px 47px 0;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 280px;
    height: 290px;
    margin: 8px auto auto;
    top: 75px;
    left: 1120px;
    border-radius: 12px;
    padding: 24px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

hr {
    margin: 0;
    border-width: 0 0 thin;
    border-style: solid;
    border-color: #F2F4F7FF;
}

.user-profile {
    font-size: 14px;
    color: #343C6AFF;
    width: 232px;
    height: 17px;
}

.user-profile-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1;
    overflow: hidden;
    user-select: none;
    box-shadow: none;
}

.user-info-box {
    margin-left: 12px;
}

.user-profile-box {
    width: 232px;
    height: 105px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.dropdown-username {
    width: 150px;
    height: 20px;
    font-size: 13px;
    font-family: Inter, sans-serif;
    line-height: 1.57;
    font-weight: 600;
    color: #343C6AFF;
}

.dropdown-occupation {
    width: 51px;
    height: 15px;
    font-size: 12px;
    color: #8BA3CBFF;
}

.dropdown-mail {
    display: flex;
    align-items: center;
    color: #8BA3CBFF;
    font-weight: 400;
    line-height: 1.57;
    gap: 4px;
}

.profile-settings {
    width: 232px;
    height: 69px;
    padding: 12px 0;
}
.profile-box {
    width: 150px;
    height: 45px;
    padding: 2px 0;
    margin-left: 12px;
    color: #343C6AFF;
}

.dropdown-my-profile {
    width: 150px;
    height: 20px;
    font-size: 13px;
    line-height: 1.57;
    font-weight: 600;
}

.dropdown-account-settings {
    width: 150px;
    height: 20px;
    font-weight: 400;
    font-size: 13px;
}

.profile-settings-img {
    display: flex;
    width: 45px;
    height: 45px;
    background-color: #E7EDFFFF;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.profile-settings-box {
    width: 232px;
    height: 45px;
    display: flex;
}

.logout-button {
    width: 232px;
    height: 40px;
    margin-top: 10px;
}

.logout-button button {
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    color: #FE5C73FF;
    width: 100%;
    font-size: 15px;
    line-height: 1.6;
    padding: 7px 14px 7px 14px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: #FE5C737F;
    border-image: initial;
    border-radius: 50px;
}