.nav-profile-button {
    width: 70px;
    height: 70px;
    padding: 5px;
}
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}
