.settings-input {
  height: 50px;
  border-radius: 16px;
  color: var(--muted-blue);
  background-color: var(--white);
  border: 1px solid #DFEAF2;
  padding: 16px 20px;
  outline: none;
}

.settings-input::placeholder {
  color: var(--muted-blue);
  font-size: 14px;
}