.logout-button {
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
  padding: 7px 14px;
  border-radius: 50px;
  border: 1px solid rgba(252, 138, 154, 0.59);
  color: var(--light-red);
  cursor: pointer;
}

.logout-button:hover {
  border-color: var(--light-red);
  background-color: rgba(254, 92, 115, 0.05);
  transition: 0.2s;
}