.expense-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 310px;
}

.expense-container-banks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 53px 20px;
}

.bank-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.expense-container-banks span {
  align-items: center;
  display: flex;
  gap: 12px;
  color: var(--muted-blue);
}
