.nav-dropdown-notifications-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 20px;
  cursor: default;
}

.nav-dropdown-notifications-title h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2143;
}

.nav-dropdown-notifications-title p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #8BA3CBFF;
}

.notifications-hr {
  border-width: 0 0 thin;
  border-color: #F2F4F7FF;
  border-style: dashed;
}

.nav-dropdown-notifications-list {
  max-height: 350px;
  overflow-y: auto;
}

.notifications-unread {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: #F5F7FAFF;
  margin: 1px 0 0;
}

.notifications-unread:hover {
  background-color: #DADADA6B;
  transition: 0.2s;
}

.notifications-read {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  margin: 1px 0 0;
}

.notifications-read:hover {
  background-color: #DADADA6B;
  transition: 0.2s;
}

.nav-notifications-dropdown-button-box {
  padding: 8px;
}

.nav-notifications-dropdown-button-box button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #1814F3FF;
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
  padding: 7px 14px;
}