.modal-card-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 160px;
  height: 130px;
  padding: 15px;
  background-color: gray;
  border-radius: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-card-box:hover {
  background-color: #a9a9a9;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-card-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-card-number {
  font-size: 12px;
  color: #b6b6b6;
}

.modal-card-type {
  font-size: 14px;
  color: #dadada;
}

.modal-card-balance {
  font-size: 16px;
  color: var(--main-white);
}