.card-info-box {
  display: flex;
  padding: 15px 30px 15px 15px;
  gap: 27px;
  border-radius: 20px;
  background-color: var(--white);
  align-items: center;
}

.card-info-img {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  padding: 17px;
  border-radius: 20px;
}

.card-info-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-name {
  width: 82px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.card-info-content span:first-child {
  color: var(--black);
  font-size: 16px;
}

.card-info-content span:last-child {
  color: gray;
  font-size: 16px;
  font-weight: 300;
}

.card-info-button-box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.card-info-button-box button {
  color: var(--blue);
}